@import url("https://fonts.googleapis.com/css?family=Ubuntu");
input, select {
  color: rgba(255, 255, 255, 0.5);
}
input option, select option {
  color: gray;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
} 

body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
    overflow: hidden; 
    height: 100%; 
    background-color: black; 
 } 

.navigation {
    padding:1em 0em;
    background:rgba(0, 0, 0, 0.53);
}  

.logo{
    padding-left: 35%;
    padding-top: 10px; 
	float:center;
}

.logo h1  {
    font-size:40px;
    color: #fff;
    padding-left: 40px; 
    text-decoration: none;
    text-transform: uppercase;
}

#area { 
  margin-top: 43px; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#area * {
  font-family: "Ubuntu", sans-serif;
}
#area .master-card {
  padding: 0px;
  border-radius: 10px;
  height: 150px;
  max-height: 150px;
  width: 250px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /*animation: rotate 5s infinite; */
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
#area .master-card .card {
  padding-top: 5%; 
  border-radius: 10px;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10px;
  background: darkgray;
  height: 280px;
  max-height: 280px;
  overflow: hidden;
  width: 400px;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
#area .master-card .card .title {
  padding-top: 5%; 
  padding-left: 7%;
  font-size: 18px; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 5px;
  font-weight: bold;
  color: white;
} 

#area .master-card .card .input-number{
  margin-top: 10px;  
} 

#area .master-card .card .input-number .title-number {
  font-size: 20px;
  color: white;
  margin-top: 300%; 
  padding-top: 15%; 
  padding-left: 38%;
}
#area .master-card .card .input-number .inputs-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-left: 5%;
}
#area .master-card .card .input-number .inputs-number input {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: solid 1px white;
  height: 35px;
  width: 80px;
  border-radius: 2px;
  padding: 5px 4px;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  font-weight: bolder; 
}
#area .master-card .card .selects-date {
  height: 40px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}
#area .master-card .card .selects-date span {
  color: rgba(255, 255, 255, 0.2);
}
#area .master-card .card .selects-date .month-select span, #area .master-card .card .selects-date .year-select span {
  display: block;
  font-size: 20px;
  color: white;
  padding-left: 25px; 
  padding-top: 15px; 
}
#area .master-card .card .selects-date select {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: solid 1px white;
  width: 70px;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  margin-top: 5px;
  margin-left: 15px; 
}
#area .master-card .card .mark-gold {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 10px;
  width: 70px;
  height: 60px;
}
#area .master-card .card .mark-gold .round .circles .circle-1 {
  width: 45px;
  height: 25px;
  border-radius: 6px;
  background: #ccc;
  position: relative;
  margin-left: 5px;     
}
#area .master-card .card .mark-gold .round .circles .circle-1:after {
  content: "";
  width: 35px;
  top: 2px;
  left: 2px;
  border-radius: 3px;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
}
#area .master-card .card .mark-gold .round .circles .circle-1:before {
  content: "";
  width: 35px;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  position: absolute;
  bottom: 2px;
  left: 2px;
}
#area .master-card .card .mark-gold .round .circles .circle-2 {
  margin-top: 2px;
  width: 40px;
  height: 25px;
  position: relative;
}
#area .master-card .card .mark-gold .round .circles .circle-2:after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #f57576;
  position: absolute;
  left: 9px;
}
#area .master-card .card .mark-gold .round .circles .circle-2:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #ff9d66;
  position: absolute;
  right: -9px;
}
#area .master-card .card .name {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  padding: 10px 0;
}
#area .master-card .card-back {
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 0;
  left: 33;
  bottom: 0;
  right: 0;
  background: darkgray;
  height: 280px;
  max-height: 280px;
  width: 400px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
#area .master-card .card-back .tire {
  position: absolute;
  width: 100%;
  background: #5e5e5e;
  height: 35px;
  top: 15px;
  left: 0;
}
#area .master-card .card-back .secret-area {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  color: white; 
  height: 30px;
  top: 100px;
  left: 20px;
  right: 20px;
  border-radius: 3px;
}
#area .master-card .card-back .secret-area input {
  background: transparent;
  color: white; 
  font-size: 20px;
  font-weight: bolder; 
  height: 30px;
  text-align: center;
  padding: 0px 7px 0px 0px;
  width: 97%; 
}
#area .master-card .card-back .secret-area span {
  float: right;
  margin: 5px;
  color: rgba(0, 0, 0, 0.5);
}
#area .master-card .card-back .chip-card {
  width: 55px;
  height: 45px;
  background: darkslategrey;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-top-right-radius: 10px !important;
  border-radius: 5px;
}
#area .master-card .card-back .chip-card:after {
  content: "";
  width: 35px;
  top: 5px;
  left: 5px;
  border-radius: 3px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
}
#area .master-card .card-back .chip-card:before {
  content: "";
  width: 35px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
#area .button-sent {
  margin-top: 130px; 
}
#area .button-sent button {
  border-radius: 3px;
  border: none;
  font-size: 13px;
  height: 50px;  
  width: 150px; 
  margin-top: 5px;     
  margin-left: 45%; 
  padding: 5px 30px;
  background: black;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#area .button-sent button:hover {
  top: -1px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.btn{
  display: inline-block;
  text-decoration: none;
  color: white;    
  margin-bottom: 30px;
  margin-top: 140px;
  margin-left: 95%;
  width: 120px;
  height: 120px;
  line-height: 30px;
  border-radius: 50%;
  border: solid 7px white;
  padding-bottom: 20px;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.btn svg{
    padding-top: 7px;
}

.btn:hover {
    background: white;
    color: dodgerblue;
}