<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>BOLETOS</title>
    <link rel="stylesheet" href="../css/boletos.css">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/search.css">
    <script src="../lib/bower_components/jquery/jquery.js"></script>
    <script src="../lib/bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
    <script src="../lib/bower_components/waitForImages/dist/jquery.waitforimages.js"></script>
    <script src="../lib/bower_components/modernizr/modernizr.js"></script>
    <script src="../lib/fontawesome-free-5.0.8/svg-with-js/js/fontawesome-all.min.js"></script>
    <script src="../css/dist/jquery.carousel-3d.js"></script>
</head>

<body id="escenario">
    <div class="hero-container">
        <div class="prin">
            <div class="escenario">
                ESCENARIO

            </div>
            <div class="area1">
                A1
            </div>
            <div class="area1">
                A2
            </div>
            <div class="area1">
                A3
            </div>
            <br>
            <div class="area2">
                B1
            </div>
            <div class="area2" href="prueba.html">
                B2
            </div>
        </div>
        <a href="../index.html" class="btn2" id="homeBtn">
            <i class="fas fa-home fa-4x"></i>
            <br/>Regresar
        </a>
    </div>
    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
</body>

</html>