<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Eventos</title>
    <link rel="stylesheet" href="../css/mainstyles.css">
    <link rel="stylesheet" href="../css/dist/styles/jquery.carousel-3d.default.css">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
    <link href="../css/enjoyhint.css" rel="stylesheet"> 
    
    <!--<script src="http://localhost:35729/livereload.js"></script>-->
    <script src="../lib/bower_components/jquery/jquery.js"></script>
    <script src="../lib/bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
    <script src="../lib/bower_components/waitForImages/dist/jquery.waitforimages.js"></script>
    <script src="../lib/bower_components/modernizr/modernizr.js"></script>
    <script src="../css/dist/jquery.carousel-3d.js"></script>
    <script src="../lib/fontawesome-free-5.0.8/svg-with-js/js/fontawesome-all.min.js"></script>

    <style>
        html,
        body {
            margin: 0px;
        }

        .wrapper {
            width: 100%;
        }
        * {
            font-family: "Open Sans", sans-serif !important;
        }

    </style>
</head>

<body id="fondo">
    <div class="hero-container">
        <div class="wrapper">
            <div data-carousel-3d>
                
                
                <div class="bloqArt">
                    <div class="desc">
                         <div class="my-wrapper"> 
                            <div><img src="../img/cascanueces.jpg" alt="" class=" artista" />
                            <div class="detalles"> 
                            <h4>Lista de precios</h4>
                              <p> 
                                 * $200<br>
                                 * $300<br> 
                                 * $400<br> 
                                 * $500
                              </p>
                            </div> 
                            
                            </div>
                         </div>
                        <div class="info mydraggable">
                            <span class="titulo">"Lago de los Cisnes"</span><br>
                            <span class="banda">Ballet Voronezh</span><br>
                            <p>30/03/2018 ° 31/03/2018 ° 01/04/2018</p>
                            <p>20:00 hrs</p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="titulo">Descripción</span>
                        <p>Uno de los clásicos más importantes de todos los tiempos: El lago de los cisnes viene a México interpretado por 35 distinguidos bailarines rusos.</p>
                        <img class="patrocinador" src="../img/tecate.png">
                        <img class="patrocinador" src="../img/bimbo.png">
                        <img class="patrocinador" src="../img/coca.png">
                        <a class="boleto" href="secciones.html">Comprar</a>
                    </div>
                </div> 
                
                 <div class="bloqArt">
                    <div class="desc">
                         <div class="my-wrapper"> 
                            <div><img src="../img/2comediantes.jpg" alt="" class=" artista" />
                            <div class="detalles"> 
                            <h4>Lista de precios</h4>
                              <p> 
                                 * $100<br>
                                 * $200<br> 
                                 * $300<br> 
                                 * $400
                              </p>
                            </div> 
                            
                            </div>
                         </div>
                        <div class="info mydraggable">
                            <span class="titulo">2 Comediantes con "Madre"</span><br>
                            <span class="banda">Jorge Falcón y Teo González</span><br>
                            <p>15/04/2018</p>
                            <p>21:00 hrs</p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="titulo">Descripción</span>
                        <p>Jorge Falcón y Teo González llegan para alegrar tu noche con risas garantizadas o te devolvemos tu dinero.</p>
                        <img class="patrocinador" src="../img/tecate.png">
                        <img class="patrocinador" src="../img/bimbo.png">
                        <img class="patrocinador" src="../img/coca.png">
                        <a class="boleto" href="secciones.html">Comprar</a>
                    </div>
                </div> 
                
                <div class="bloqArt">
                    <div class="desc">
                         <div class="my-wrapper"> 
                            <div><img src="../img/elreyleon.jpg" alt="" class=" artista" />
                            <div class="detalles"> 
                            <h4>Lista de precios</h4>
                              <p> 
                                 * $300<br>
                                 * $400<br> 
                                 * $500<br> 
                                 * $600
                              </p>
                            </div> 
                            
                            </div>
                         </div>
                        <div class="info mydraggable">
                            <span class="titulo">El Rey León</span><br>
                            <span class="banda">Más de 100 artistas en escena.</span><br>
                            <p>06/05/2018 ° 07/05/2018  </p>
                            <p>20:00 hrs</p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="titulo">Descripción</span>
                        <p>Descubre el musical que conmueve al mundo y siente que te transportas a África con esta conmovedora historia musicalizada.</p>
                        <img class="patrocinador" src="../img/tecate.png">
                        <img class="patrocinador" src="../img/bimbo.png">
                        <img class="patrocinador" src="../img/coca.png">
                        <a class="boleto" href="secciones.html">Comprar</a>
                    </div>
                </div>   
                
                <div class="bloqArt ">
                    <div class="desc ">
                         <div class="my-wrapper"> 
                            <div><img src="../img/paco.jpg" alt="" class=" artista" />
                            <div class="detalles"> 
                            <h4>Lista de precios</h4>
                               <p> 
                                 * $100<br>
                                 * $200<br> 
                                 * $300<br> 
                                 * $400
                              </p>
                            </div> 
                            
                            </div>
                         </div>
                        <div class="info mydraggable">
                            <span class="titulo">"Tributo a Paco de Lucía"</span><br>
                            <p class="banda">Michel Camilo & Tomatio</p>
                            <p class="fecha">25/05/2018 ° 26/05/2018</p>
                            <p>21:00 hrs</p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="titulo">Descripción</span>
                        <p>Michel Camilo (República Dominicana) y Tomatio (España) se unen para realizar un tributo al celebre guitarrista español "Paco de Lucía". </p>
                        <img class="patrocinador" src="../img/tecate.png">
                        <img class="patrocinador" src="../img/bimbo.png">
                        <img class="patrocinador" src="../img/coca.png">
                        <a class="boleto" href="secciones.html">Comprar</a>
                    </div>
                </div> 
                
                <div class="bloqArt"> 
                    <div class="desc">
                         <div class="my-wrapper"> 
                            <div><img src="../img/molotov.jpg" alt="" class=" artista" />
                            <div class="detalles"> 
                            <h4>Lista de precios</h4>
                              <p> 
                                 * $1,400<br>
                                 * $1,600<br> 
                                 * $1,800<br> 
                                 * $2,000
                              </p>
                            </div> 
                            
                            </div>
                         </div>
                        <div class="info mydraggable">
                            <span class="titulo">"Molotov Unplugged"</span><br>
                            <span class="banda">Molotov e Invitados</span><br>
                            <p class="fecha">01/06/2018</p>
                            <p>22:00 hrs</p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="titulo">Descripción</span>
                        <p>Revive los temas icónicos de la controversial banda mexicana "Molotov" junto a invitados sorpresa en un ámbiente alternativo.</p>
                        <img class="patrocinador" src="../img/tecate.png">
                        <img class="patrocinador" src="../img/bimbo.png">
                        <img class="patrocinador" src="../img/coca.png">
                        <a class="boleto" href="secciones.html">Comprar</a>
                    </div>
                </div> 
                
                <div class="bloqArt">
                    <div class="desc">
                         <div class="my-wrapper"> 
                            <div><img src="../img/luismiguel.jpg" alt="" class=" artista" />
                            <div class="detalles"> 
                            <h4>Lista de precios</h4>
                              <p> 
                                 * $600<br>
                                 * $800<br> 
                                 * $1,000<br> 
                                 * $1,200
                              </p>
                            </div> 
                            
                            </div>
                         </div>
                        <div class="info mydraggable">
                            <span class="titulo">Luis Miguel: México Por Siempre</span><br>
                            <span class="banda">Luis Miguel</span><br>
                            <p>10/06/2018</p>
                            <p>22:00 hrs</p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="titulo">Descripción</span>
                        <p>El "Sol de México" llega en su gira nacional para cantar sus nuevos éxtos y sus clásicos que tanto ama el pueblo.</p>
                        <img class="patrocinador" src="../img/tecate.png">
                        <img class="patrocinador" src="../img/bimbo.png">
                        <img class="patrocinador" src="../img/coca.png">
                        <a class="boleto" href="secciones.html">Comprar</a>
                    </div>
                </div> 
                
                <div class="bloqArt">
                    <div class="desc">
                         <div class="my-wrapper"> 
                            <div><img src="../img/aramalikian.jpg" alt="" class=" artista" />
                            <div class="detalles"> 
                            <h4>Lista de precios</h4>
                              <p> 
                                 * $100<br>
                                 * $200<br> 
                                 * $300<br> 
                                 * $400
                              </p>
                            </div> 
                            
                            </div>
                         </div>
                        <div class="info mydraggable">
                            <span class="titulo">Ara Malikian</span><br>
                            <span class="banda">Ara Malikian</span><br>
                            <p>20/07/2018</p>
                            <p>21:00 hrs</p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="titulo">Descripción</span>
                        <p>Ara Malikian, presenta su último trabajo "La Increíble Historia de Violín" en su gira mundial. Un maravillo viaje alrededor del mundo.</p>
                        <img class="patrocinador" src="../img/tecate.png">
                        <img class="patrocinador" src="../img/bimbo.png">
                        <img class="patrocinador" src="../img/coca.png">
                        <a class="boleto" href="secciones.html">Comprar</a>
                    </div>
                </div>
                
            </div>
        </div> 
         <img id="helpbutton" onclick="ayuda_eventos()"  class="helpbutton" src="../img/helpbtn.png">
         <audio id="audio" src="../audio/eventos.mp3" ></audio>
        <a href="../index.html" class="btn"><i class="fas fa-home fa-4x"></i><br> Regresar</a>
    
    </div>
    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());

    </script>
</body> 

<script src="../js/main.js"></script> 
<script src="../js/enjoyhint.min.js"></script>

</html>
