<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Eventos</title>
    <link rel="stylesheet" href="../css/dist/styles/jquery.carousel-3d.default.css">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/mainstyles.css">

    <!--<script src="http://localhost:35729/livereload.js"></script>-->
    <script src="../lib/bower_components/jquery/jquery.js"></script>
    <script src="../lib/bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
    <script src="../lib/bower_components/waitForImages/dist/jquery.waitforimages.js"></script>
    <script src="../lib/bower_components/modernizr/modernizr.js"></script>
    <script src="../css/dist/jquery.carousel-3d.js"></script>
    <script src="../lib/fontawesome-free-5.0.8/svg-with-js/js/fontawesome-all.min.js"></script>

    <style>
        html,
        body {
            margin: 0px;
        }

        .wrapper {
            width: 100%;
        }

    </style>
</head>

<body id="hero">
    <div class="hero-container">
        <div class="wrapper">
            <div data-carousel-3d>
                <div class="bloqArt">
                    <div class="desc">
                        <img class="artista" src="../img/paco.jpg">
                        <div class="info">
                            <span class="titulo">"Andaluza"</span><br>
                            <span class="titulo">Paco de Lucía</span><br>
                            <p>25/05/2018 ° 27/05/2018 ° 30/05/2018</p>
                            <p>21:00 hrs</p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="titulo">Descripción</span>
                        <p>Francisco Gustavo Sánchez Gómez, mejor conocido por su nombre artístico Paco de Lucía, es un compositor y guitarrista español de flamenco.</p>
                        <a class="boleto" href="#">comprar</a>
                    </div>
                </div>
                <div class="bloqArt">
                    <div class="desc">
                        <img class="artista" src="../img/molotov.jpg">
                        <div class="info">
                            <span class="titulo">"Algo"</span><br>
                            <span class="titulo">Molotov</span><br>
                            <p>25/05/2018 ° 27/05/2018 ° 30/05/2018</p>
                            <p>17:00 hrs</p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="titulo">Descripción</span>
                        <p>Molotov es un grupo de rock mexicano. Originario de la Ciudad de México, las letras de sus canciones se caracterizan por la crítica al gobierno.</p>
                        <a class="boleto" href="#">comprar</a>
                    </div>
                </div>
                <div class="bloqArt">
                    <div class="desc">
                        <img class="artista" src="../img/cascanueces.jpg">
                        <div class="info">
                            <span class="titulo">"El cascanueces"</span><br>
                            <span class="titulo">Ballet Ruso</span><br>
                            <p>25/05/2018 ° 27/05/2018 ° 30/05/2018</p>
                            <p>10:00 hrs</p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="titulo">Descripción</span>
                        <p>es un cuento de hadas-ballet estructurado en dos actos, que fue encargado por el director de los Teatros Imperiales Iván Vsévolozhsky en 1891 y se estrenó en 1892.</p>
                        <a class="boleto" href="#">comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="../index.html" class="btn"><i class="fas fa-home fa-4x"></i><br> Regresar</a>
    </div>
    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());

    </script>
</body>

</html>
