<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../css/dist/styles/jquery.carousel-3d.default.css">
  <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
  
  <!--<script src="http://localhost:35729/livereload.js"></script>-->
  <script src="../lib/bower_components/jquery/jquery.js"></script>
  <script src="../lib/bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
  <script src="../lib/bower_components/waitForImages/dist/jquery.waitforimages.js"></script>
  <script src="../lib/bower_components/modernizr/modernizr.js"></script>
  <script src="../css/dist/jquery.carousel-3d.js"></script>
  <script src="../lib/fontawesome-free-5.0.8/svg-with-js/js/fontawesome-all.min.js"></script>

  <style>
    html, body {
      margin: 0px;
    }
    .wrapper {
      width: 100%;
    }
  </style>
</head>
<body id="hero">
<div class="hero-container"> 
<div class="wrapper">
  <div data-carousel-3d>
    <div style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="../img/p2.jpg" style="width: 100%"/>
      <div style="background-color:gray; color:white;">El mejor lugar de eventos</div>
      </div>
       <div style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="../img/p3.jpg" style="width: 100%"/>
      <div style="background-color:gray; color:white;">desde donde lo veas</div>
      </div> 
       <div style="min-width: 320px; min-height: 213px; max-width: 320px; max-height: 213px; filter: brightness(150%); filter:saturate(200%)">
     <img src="../img/arriba2.jpg" style="width: 100%"/>
      <div style="background-color:gray; color:white;">Estando arriba</div>
      </div>
       <div style="min-width: 320px; min-height: 213px; max-width: 320px; max-height: 213px; filter: brightness(150%); filter:saturate(200%)">
     <img src="../img/alfrente.jpg" style="width: 100%"/>
      <div style="background-color:gray; color:white;">O estando abajo</div>
      </div>
       <div style="min-width: 320px; min-height: 218px; max-width: 320px; max-height: 218px; filter: brightness(150%); filter:saturate(200%)">
     <img src="../img/atras2.jpg" style="width: 100%"/>
      <div style="background-color:gray; color:white;">Incluso el público luce</div>
      </div> 
       <div style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="../img/lateral1.jpg" style="width: 100%"/>
      <div style="background-color:gray; color:white;">Mucho confort en los asientos</div>
      </div>
       <div style="min-width: 320px; min-height: 220px; max-width: 320px; max-height: 220px; filter: brightness(150%); filter:saturate(200%)">
     <img src="../img/p1.jpg" style="width: 100%"/>
      <div style="background-color:gray; color:white;">Un gran panorama</div>
      </div>
  </div>
</div> 
<a href="../index.html" class="btn"><i class="fas fa-home fa-4x"></i><br> Regresar</a>
</div>
<script>
  document.addEventListener('contextmenu', event => event.preventDefault());  
  </script>
</body>
</html>
