<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>SECCIONES</title>
    <link rel="stylesheet" href="../css/secciones.css">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/search.css">
    <script src="../lib/bower_components/jquery/jquery.js"></script>
    <script src="../lib/bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
    <script src="../lib/bower_components/waitForImages/dist/jquery.waitforimages.js"></script>
    <script src="../lib/bower_components/modernizr/modernizr.js"></script>
    <script src="../lib/fontawesome-free-5.0.8/svg-with-js/js/fontawesome-all.min.js"></script>
    <script src="../css/dist/jquery.carousel-3d.js"></script>
</head>

<body id="escenario">
    <div class="hero-container">
        <div class="prin">
            <div class="escenario">
                ESCENARIO

            </div>
            <div class="area1" onclick="javascript:location.href='asientos.html'">
                A1
            </div>
            <div class="area1" onclick="javascript:location.href='asientos.html'">
                A2
            </div>
            <div class="area1" onclick="javascript:location.href='asientos.html'">
                A3
            </div>
            <br>
            <div class="area2" onclick="javascript:location.href='asientos.html'">
                B1
            </div>
            <div class="area2" onclick="javascript:location.href='asientos.html'">
                B2
            </div>
        <h3 style="margin-left: 20%; margin-top: 10px;">*Seleccione una de las siguientes secciones para pasar a la selección de asientos.</h3>    
        </div>
        <a href="eventos.html" class="btn2" id="homeBtn">
            <i class="fas fa-home fa-4x"></i>
            <br/>Regresar
        </a>
    </div>
    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
</body>

</html>